body{
    padding: 0;
    margin: 0;
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    background-color: #fff;
}

.header{
    display: flex;
    align-items: center;
    position: sticky;
    justify-content: space-between;
}

.header-div{
    width: 30%;
    height: 54px;
    display: flex;
    align-items: center;
    position: sticky;
    justify-content: space-evenly;
    padding: 0 100px;
}

.header-left{
    width: max-content;
    position: sticky;
}

.header-img{
    margin-bottom: 5px;
    margin-left: 40px;
}

.header-elem{
    font-size: 13px;
    color: #262626;
    margin: 0 15px;
    position: sticky;
}


.header div{
    display: inline-flex;
}


.header-right{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 150px;
    position: sticky;
}

.header-right .header-elem{
    margin-left: 30px;
}

.main-page{
    position: relative;
    margin: 0 10px;
}

.main-img{
    width: 100%;
}

.main-text{
    width: 570px;
    height: auto;
    position: absolute;
    top: 30%;
    /* right: 60%; */
    margin-left: 95px;
    color: white;
}

.main-elem1{
    line-height: 1.2;
    font-size: 37px;
    font-weight: 500;
    margin: 0 0 20px;
}

.main-elem2{
    margin: 0 0 24px;
}

.main-elem3{
    width: fit-content;
    height: fit-content;
    background-color: #0067b8;
    font-weight: 500;
    margin: 8px 0;
    padding: 10px 12px;
}


/* .footer{
    /* width: 0%; */
    /* margin: 150px 10px; */
    /* margin-top: 50px; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content:space-between; */


.footer-imgs{
    /* width: 50%; */
    /* width: 320px; */
    display: flex;
    justify-content:space-evenly;
    margin-top: 20px;
    /* margin-left: 30px; */
    padding: 0px 60px 0px 60px;
    font-size: 14px;
    margin-bottom: 50px;
}

/* .footer-img{
    justify-content: space-between;
} */

.footer-img {
    width: 320px;
}

.footer-img img{
    width: 320px;
}

.footer-img h2{
    /* flex: 1 1 auto; */
    /* font-size: 29px; */
    font-weight: 500;
    /* margin: 10px 0;  */
}

.footer-img p{
    height: auto;
}

.footer-p2{
    color: #0067b8;
    font-weight: 600;
}